<form method="GET" action="/{{ district }}" class="input-section">
    {% comment %} Datum sorteren {% endcomment %}
    <label>
        <select name="sort" onchange="this.form.submit()">
        <option value="">Sorteren</option>

        <option value="nieuw"
            {% if request.query.sort == "nieuw" %}selected{% endif %}>
            Nieuw → Oud
        </option>

        <option value="oud"
            {% if request.query.sort == "oud" %}selected{% endif %}>
            Oud → Nieuw
        </option>
        </select>
    </label>

  <label>
        {% comment %} Filters {% endcomment %}
        <select name="filter" onchange="this.form.submit()">
        <option value="">Filteren</option>
        <option value="HvA medewerkers"
            {% if request.query.filter == "HvA medewerkers" %}selected{% endif %}>
            HvA medewerkers
        </option>

        <option value="Studenten"
            {% if request.query.filter == "Studenten" %}selected{% endif %}>
            Studenten
        </option>

        <option value="Wijkpartners"
            {% if request.query.filter == "Wijkpartners" %}selected{% endif %}>
            Wijkpartners
        </option>

        <option value="Bewoners"
            {% if request.query.filter == "Bewoners" %}selected{% endif %}>
            Bewoners
        </option>
        </select>
    </label>
</form>