<section class="filter-buttons">
    <ul class="filter-button-lists">
        <li>
            <a href="/">
                Alles
            </a>
        </li>
        <li>
            <a href="/">
                HvA medewerkers
            </a>
        </li>
        <li>
            <a href="/">
                Studenten
            </a>
        </li>
        <li>
            <a href="/">
                Wijkpartners
            </a>
        </li>
        <li>
            <a href="/">
                Bewoners
            </a>
        </li>
    </ul>
</section>