<div class="input-section">
    <select>
        <option value="/{{ district }}">Sorteren</option>
        <option value="/{{ district }}?sort=nieuw">Nieuw → Oud</option>
        <option value="/{{ district }}?sort=oud">Oud → Nieuw</option>
    </select>
</div>