:root {
    --header-primary-background-color: #B4BDD0;
    --primary-orange-color: #EA5B0C;
    --primary-purple-color: #333467;
    --primary-green-color: #8EA34B;
    --primary-sea-color: #085B64;
    --primary-mud-color: #69604F;
    --primary-lightblue-color: #B4BDD0;

    --secondary-forest-color: #29593F;
    --secondary-skin-color: #F9C19D;
    --secondary-grass-color: #6AA426;
    --secondary-stone-color: #BCB5AC;

    --primary-color-nieuw-west: #8EA34B;
    --primary-color-oost: #333467;
    --primary-color-zuid-oost: #085B64;
    


}